section.map.map--africa
  img(src="img/map/map-2.png", alt="").map__bg

  .card-wrap
    .card.active(style="top: 18%; left: 49%" data-cof="0.009")
      h3.title-h5.card__title MOROCCO, PRESENT DAY
      img(src="img/card/africa-1.jpg", alt="").card__img.card__img--bottom-right.card__img--border
      p.main-text.card__description Buildings in the Moroccan city of Chefchaouen are painted blue. While it is not clear why, one popular theory is that blue keeps mosquitoes away.
      .card__plus

    .card.card(style="top: 41%; left: 46%" data-cof="0.006")
      h3.title-h5.card__title SENEGAL, BEFORE 3000 BC
      img(src="img/card/africa-2.jpg", alt="").card__img.card__img--bottom.card__img--border
      p.main-text.card__description Mosquitoes initially fed only on animals. Genetic data suggest that a preference for human blood began around 5,000–10,000 years ago in western Africa. The change most likely wasn’t made because of how good we <i>Homo sapiens</i> tasted, but more out of necessity, during periods of drought and human urbanization.  
      .card__plus

    .card(style="top: 55%; left: 65%" data-cof="0.008")
      h3.title-h5.card__title CENTRAL AFRICA, PRESENT DAY
      img(src="img/card/africa-3.jpg", alt="").card__img.card__img--bottom-right.card__img--border
      p.main-text.card__description Chimpanzees that live in the jungles of central Africa are known to eat a variety of plants that have medicinal properties. One such plant is the mululuza bush (or <i>Vernonia amygdalina</i>) that has been shown to have insecticidal and anti-malarial effects.  
      .card__plus