section.map
  img(src="img/map/map-2.png", alt="").map__bg

  .card-wrap
    .card.active(style="top: 10%; left: 52%" data-cof="0.009")
      h3.title-h5.card__title Morocco, Present DAY
      img(src="img/card/africa-1.jpeg", alt="").card__img.card__img--bottom-right.card__img--border
      p.main-text.card__description The mosquito repellent DEET was originally developed for the U.S. Army for use in the more insect-infested areas of the world. DEET works by simply blocking certain chemical receptors in the mosquito’s antennae, making it harder for them to “smell” humans.
      .card__plus

    .card.card(style="top: 35%; left: 47%" data-cof="0.006")
      h3.title-h5.card__title Senegal, before 3000 BC
      img(src="img/card/africa-2.jpeg", alt="").card__img.card__img--bottom.card__img--border
      p.main-text.card__description The mosquito repellent DEET was originally developed for the U.S. Army for use in the more insect-infested areas of the world. DEET works by simply blocking certain chemical receptors in the mosquito’s antennae, making it harder for them to “smell” humans.
      .card__plus

    .card(style="top: 60%; left: 65%" data-cof="0.008")
      h3.title-h5.card__title Central Africa, PRESENT DAY
      img(src="img/card/africa-3.jpg", alt="").card__img.card__img--bottom-right.card__img--border
      p.main-text.card__description The mosquito repellent DEET was originally developed for the U.S. Army for use in the more insect-infested areas of the world. DEET works by simply blocking certain chemical receptors in the mosquito’s antennae, making it harder for them to “smell” humans.
      .card__plus