section#one.map
  img(src="img/map/map-1.png", alt="").map__bg
  .map-info
    .map-info__top
      span.section-number.map-info__number 1
      h1.title-h2.map-info__title Chikungunya Disease:
    
    .map-info__bottom
      p.big-text.map-info__text <b>Symptoms of chikungunya may be debilitating and last for years.</b> As chikungunya is caused by a virus that is spread by certain mosquitoes, anyone in areas where mosquitoes are common is at risk.
      .scroll-anim
        p.scroll-anim__text Scroll to Begin
        .scroll-anim__block
    
    img(src="img/icon-mouse-indicator.png", alt="").map-info__indicator
  
  .card-wrap
    .card.active(style="top: 18%; left: 55%" data-cof="0.002")
      h3.title-h5.card__title United States, 1946
      img(src="img/card/america-1.png", alt="").card__img.card__img--right
      p.main-text.card__description The mosquito repellent DEET was originally developed for the U.S. Army for use in the more insect-infested areas of the world. DEET works by simply blocking certain chemical receptors in the mosquito’s antennae, making it harder for them to “smell” humans.
      .card__plus

    .card.card--left(style="top: 33%; left: 83%" data-cof="0.012")
      h3.title-h5.card__title St. Martin, 2013
      img(src="img/card/america-2.jpg", alt="").card__img.card__img--top.card__img--border
      p.main-text.card__description The mosquito repellent DEET was originally developed for the U.S. Army for use in the more insect-infested areas of the world. DEET works by simply blocking certain chemical receptors in the mosquito’s antennae, making it harder for them to “smell” humans.
      .card__plus

    .card(style="top: 40%; left:60%" data-cof="0.005")
      h3.title-h5.card__title Panama Canal, 1881-1914
      img(src="img/card/america-3.jpg", alt="").card__img.card__img--bottom.card__img--border
      p.main-text.card__description The mosquito repellent DEET was originally developed for the U.S. Army for use in the more insect-infested areas of the world. DEET works by simply blocking certain chemical receptors in the mosquito’s antennae, making it harder for them to “smell” humans.
      .card__plus

    .card(style="top: 83%; left: 70%" data-cof="0.015")
      h3.title-h5.card__title Argentina, 2020
      img(src="img/card/america-4.png", alt="").card__img.card__img--top-right
      p.main-text.card__description The mosquito repellent DEET was originally developed for the U.S. Army for use in the more insect-infested areas of the world. DEET works by simply blocking certain chemical receptors in the mosquito’s antennae, making it harder for them to “smell” humans.
      .card__plus