section.map
  img(src="img/map/map-4.png", alt="").map__bg

  .card-wrap
    .card.card--left.active(style="top: 22%; left: 44%" data-cof="0.009")
      h3.title-h5.card__title China, 2018
      img(src="img/card/australia-1.jpg", alt="").card__img.card__img--right.card__img--border
      p.main-text.card__description The Greek writer and historian Herodotus first described how Egyptian fishermen used their fishing nets to protect themselves from mosquitoes at night. The smell must have made at least a few of them consider whether or not it was worth it.
      .card__plus

    .card.card--left(style="top: 38%; left: 41%" data-cof="0.006")
      h3.title-h5.card__title Vietnam, 1300 - 1600s
      img(src="img/card/australia-2.png", alt="").card__img.card__img--left-bottom
      p.main-text.card__description The jungles of northern Vietnam helped limit Chinese invasions during the Ming Dynasty. How? While the Chinese troops were prepared for enemy soldiers, they weren’t prepared for mosquitoes. So many Chinese troops were either incapacitated or killed by mosquito-borne illnesses that they were forced to withdraw.
      .card__plus

    .card(style="top: 62%; left: 75%" data-cof="0.008")
      h3.title-h5.card__title The Pacific, 1940s
      img(src="img/card/australia-3.png", alt="").card__img.card__img--top
      p.main-text.card__description The mosquito repellent DEET was originally developed for the U.S. Army for use in the more insect-infested areas of the world. DEET works by simply blocking certain chemical receptors in the mosquito’s antennae, making it harder for them to “smell” humans.
      .card__plus