section.map.map--australia
  img(src="img/map/map-4.png", alt="").map__bg

  .card-wrap
    .card.card--left.active(style="top: 22%; left: 44%" data-cof="0.009")
      h3.title-h5.card__title CHINA, 2018
      img(src="img/card/australia-1.jpg", alt="").card__img.card__img--right.card__img--border
      p.main-text.card__description Billed as an “eco paradise”, the Qiyi City Forest Garden apartments were supposed to offer buyers a more natural lifestyle in the heart of the city. Unfortunately, the design was flawed, making it an ideal home for mosquitoes. So many mosquitoes moved in, in fact, that most buyers haven’t. Of the over 800 units sold, only about a dozen are currently in use.
      .card__plus

    .card.card--left(style="top: 38%; left: 41%" data-cof="0.006")
      h3.title-h5.card__title VIETNAM, 1300 - 1600s
      img(src="img/card/australia-2.png", alt="").card__img.card__img--left-bottom
      p.main-text.card__description The jungles of northern Vietnam helped limit Chinese invasions during the Ming Dynasty. How? While the Chinese troops were prepared for enemy soldiers, they weren’t prepared for mosquitoes. So many Chinese troops were either incapacitated or killed by mosquito-borne illnesses that they were forced to withdraw.
      .card__plus

    .card(style="top: 62%; left: 75%" data-cof="0.008")
      h3.title-h5.card__title THE PACIFIC, 1940s
      img(src="img/card/australia-3.png", alt="").card__img.card__img--top
      p.main-text.card__description During WWII, the U.S. created posters to educate troops on malaria. Two were created by Army Captain Theodore Geisel, later known as Dr. Seuss. They featured a mosquito with the message “This is Ann… and she drinks blood!” Ann’s full name was “Anopheles Mosquito”. She appeared with a menacing smile or holding goblet of blood.
      .card__plus