section.map.map--pacific
  img(src="img/map/map-3.png", alt="").map__bg

  .card-wrap
    .card.card--left.active(style="top: 24%; left: 27%" data-cof="0.009")
      h3.title-h5.card__title EGYPT, 450 BC
      img(src="img/card/pacific-1.png", alt="").card__img.card__img--bottom
      p.main-text.card__description The Greek writer and historian Herodotus first described how Egyptian fishermen used their fishing nets to protect themselves from mosquitoes at night. The smell must have made at least a few of them consider whether or not it was worth it.
      .card__plus

    .card(style="top: 24%; left: 58%" data-cof="0.006")
      h3.title-h5.card__title MYANMAR, 100 MILLION YEARS AGO
      img(src="img/card/pacific-2.png", alt="").card__img.card__img--right
      p.main-text.card__description A mosquito discovered in amber has been dated to ~100 million years ago, when dinosaurs still roamed the earth. Unlike most species, they’ve remained largely unchanged for millions of years. The perfect bloodsucker!
      .card__plus

    .card.card--left(style="top: 60%; left: 36%" data-cof="0.008")
      h3.title-h5.card__title TANZANIA, 1952
      img(src="img/card/pacific-3.jpg", alt="").card__img.card__img--bottom-right.card__img--border
      p.main-text.card__description The first identified chikungunya outbreak was reported in Tanzania. The disease was named after the Kimakonde word “chikungunya”, which means “to become contorted”, alluding to the painful appearance those who contract it tend to take.
      .card__plus

    .card(style="top: 47%; left: 70%" data-cof="0.008")
      h3.title-h5.card__title MALAYSIA, 1950s
      img(src="img/card/pacific-4.png", alt="").card__img.card__img--bottom
      p.main-text.card__description Early use of DDT in Borneo was effective at killing mosquitoes, but there was one small problem: They used too much. DDT seeped into the food chain wiping out entire animal species, including cats. This resulted in an explosion of the rat population. The rats destroyed crops and put people at risk of the plague. The solution? Cats were parachuted in, and soon the rats were under control again.
      .card__plus