.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  z-index: 100;
  
  @media (min-width: $main2) {
    &:before {
      position: absolute;
      display: block;
      top: 100%;
      left: 0;
      height: 0;
      width: 100%;
  
      transition: 0.3s all ease;
      background-color: transparentize($primary, 0.4);
      content: '';
    }
  
    &:hover::before {
      height: 27px;
    }
  }

  background-color: transparentize($primary, 0.4);

  @media (max-width: $main) {
    background-color: transparentize($primary, 0.2);
  }

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $main) {
      justify-content: flex-end;
    }

    height: 100%;
  }
}

.navigation-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 30px;

  @media (min-width: 1600px) {
    gap: 0 40px;
  }

  @media (max-width: $main) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 55px);
    
    flex-direction: column;
    align-items: stretch;
    
    transform: translateX(100%);
    transform-origin: right;
    transition: 0.6s all ease;
    background-color: transparentize($primary, 0.2);

    &.active {
      transform: translateX(0);
    }
  }

  &__item {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;

    cursor: pointer;

    @media (max-width: $main) {
      justify-content: flex-start;

      padding: 20px 14px;

      background-color: $primary;

      &:not(:last-child)::after {
        position: absolute;
        bottom: 0;
        left: 14px;
        width: calc(100% - 28px);
        height: 1px;

        display: block;

        background-color: #979797;
        content: '';
      }
    }
  }

  &__text {
    @media (min-width: $main2) {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);

      display: block;
      max-height: 29px;
      
      text-align: center;
      font-size: 12px;
      line-height: 14px;
      font-weight: 700;
      opacity: 0;
      pointer-events: none;
      overflow: hidden;
      transition: 0.3s all ease;
    }

    color: $white;

    @media (max-width: $main2) {
      margin-left: 13px;
    }
  }

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 33px;
    height: 33px;

    font-family: 'Montserrat';
    color: $white;
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;

    border: 2px solid white;
    border-radius: 50%;
    opacity: 0.5;
    transition: 0.3s all ease;
    box-shadow: 0 1px 1px transparentize($black, 0.5);

    @media (min-width: $main2) {
      &:hover {
        color: $black;
        background-color: $white;
        opacity: 1;
      }
    }
  }

  @media (min-width: $main2) {
    &__item.active &__number {
      color: $white;
      background-color: $secondary;
      opacity: 1;
    }

    &__item:hover &__text,
    .navigation:hover &__item.active &__text {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.navigation-share {
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 5px 15px;

  @media (max-width: $main) {
    display: none;
  }

  &__text {
    color: $white;
    font-size: 13px;
    line-height: 20px;
    cursor: default;

    transition: 0.3s all ease;
  }

  &:hover &__text {
    opacity: 0;
  }

  &__icons {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translate(-20%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;

    opacity: 0;
    transition: 0.3s transform ease, 0.15s opacity ease;
    transition-delay: 0s, 0s;
    transition-property: transform, opacity;

    pointer-events: none;
  }

  &:hover &__icons {
    right: 40px;
    opacity: 1;
    transform: translate(0, -50%);
    pointer-events: auto;
    transition-delay: 0s, 0.15s;
  }

  &__item {
    position: relative;
    // position: absolute;
    // top: 50%;
    // right: -8px;
    // transform: translateY(-50%);
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 33px;
    height: 33px;

    padding: 5px;
    margin-left: 20px;

    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 1px 1px rgba(53, 53, 53, 0.5);
    opacity: 0.5;
    transition: 0.3s all ease;

    & img {
      max-height: 15px;
      max-width: 15px;
    }
  }

  &__item:hover {
    opacity: 1;
  }

  &__description {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    padding-top: 5px;

    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    color: white;
    // transition: 0.3s all ease;
    opacity: 0;
  }

  &__item:hover &__description {
    opacity: 1;
  }

  &__img {
    margin-left: 16px;
  }
  
  // &:hover &__img {
  //   opacity: 0;
  // }
}

.navigation-hamburger {
  position: relative;
  width: 30px;
  height: 30px;

  margin-right: 15px;

  @media (min-width: $main2) {
    display: none;
  }

  & span {
    position: absolute;
    left: 50%;

    display: block;
    width: 24px;
    height: 2px;

    background-color: $white;
    border-radius: 2px;
    transition: 0.3s all ease;
    transform-origin: center;
  }

  & span:first-child {
    top: calc(50% - 8px);
    transform: translate(-50%, -50%);
  }

  &.active span:first-child {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  & span:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &.active span:nth-child(2) {
    opacity: 0;
  }

  & span:last-child {
    top: calc(50% + 8px);
    transform: translate(-50%, -50%);
  }

  &.active span:last-child {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}