.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;

  background-color: $primary;
  transition: 0.6s opacity ease;
  pointer-events: none;

  &__mosquito {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    animation: circle-preloader 1.2s infinite linear;
  }

  &__virus {
    position: absolute;
    z-index: -1;
    // transform: translate(-50%, -50%);

    mix-blend-mode: multiply;
    pointer-events: none;

    animation: preloader-virus-one 100s ease-in-out infinite;

    &--one {
      width: 18vw;
      top: 0;
      left: 0;
      opacity: 0.7;
      animation-delay: 0.5s;

      @media (max-width: $main) {
        width: 120px;
      }
    }

    &--two {
      width: 12vw;
      top: 65%;
      left: 150px;
      opacity: 0.6;
      animation-delay: 1s;

      animation-name: preloader-virus-two;

      @media (max-width: $main) {
        width: 120px;
        left: 50px;
      }
    }

    &--three {
      width: 9vw;
      top: 60%;
      left: 60%;
      opacity: 0.5;
      animation-delay: 1.5s;

      animation-name: preloader-virus-three;

      @media (max-width: $main) {
        width: 110px;
        left: 50%;
      }
    }

    &--four {
      width: 13vw;
      top: 10%;
      left: 70%;
      opacity: 0.8;
      animation-delay: 2s;

      animation-name: preloader-virus-four;

      @media (max-width: $main) {
        width: 90px;
        left: 60%;
      }
    }

    &--five {
      width: 12vw;
      top: 40%;
      left: 70%;
      opacity: 0.7;
      animation-delay: 2.5s;

      animation-name: preloader-virus-five;

      @media (max-width: $main) {
        width: 80px;
        left: 60%;
      }
    }
  }
}

@keyframes circle-preloader {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes preloader-virus-one {
  @include virus-anim(0.1, 0.1, 0.1);
}

@keyframes preloader-virus-two {
  @include virus-anim(0.8, 0.1, 0.1);
}

@keyframes preloader-virus-three {
  @include virus-anim(0.8, 0.5, 0.1);
}
@keyframes preloader-virus-four {
  @include virus-anim(0.2, 0.7, 0.1);
}

@keyframes preloader-virus-five {
  @include virus-anim(0.8, 0.8, 0.1);
}