section.contact-us#six
  img(src="img/map/map-5.png", alt="").contact-us__bg
  .contact-us-info
    span.section-number.contact-us__number 6
    h2.title-h2.contact-us__title Contact Us
    h3.title-h3.contact-us__subtitle Our Story
    p.main-text.contact-us__text As health professionals and world travelers, we’ve always understood the connection between having truly immersive travel experiences and needing to protect your health before you go. Emergent BioSolutions aspires to give travelers peace of mind by producing vaccines to protect against the threats of emerging and existing infectious diseases as they consider their travel health prior to traveling.

  .section-form
    .section-form__info
      h4.title-h3.section-form__title Stay Connected
      p.main-text.section-form__text Emergent BioSolutions Inc.<br>400 Professional Drive, Suite 400<br>Gaithersburg, MD 20879<br>240-631-3200
      a(href="#") hello@chikungunya.com 

    form.main-form(novalidate)
      label.main-form__input
        h4 First Name
        input(type="text" placeholder="First Name" required="required")
        span.main-form__error  Please enter valid first name.
      label.main-form__input
        h4 Last Name
        input(type="text" placeholder="Last Name" required="required")
        span.main-form__error  Please enter valid last name.
      label.main-form__input
        h4 E-mail
        input(type="email" placeholder="E-mail" required="required")
        span.main-form__error Please enter valid e-mail address.
      label.main-form__checkbox
        input(type="checkbox", name="first")
        span
        span I would like to receive information about travel health from Emergent Travel Health Inc. I understand that I can opt out at any time by clicking the Unsubscribe link in any email.
      label.main-form__checkbox
        input(type="checkbox", name="two")
        span
        span I confirm that I am a US resident, and understand the content has been created for US residents only. 
      label.main-form__checkbox
        input(type="checkbox", name="three")
        span
        span I have read and agree to the <a href="/privacy">Privacy Policy</a>.
      button(type="submit").main-button.main-form__button Submit