section.section#three
  .section__wrap
    .section__block
      span.section-number 3
      h2.title-h2.section__block-title Staying Protected
      p.main-text.section__block-text Here’s how to reduce the chances of getting chikungunya. Remember, the best way to protect yourself from chikungunya is to prevent bites from the mosquitoes that carry it. Many chikungunya symptoms are similar to dengue and Zika. The only way to know if you have chikungunya is to get a blood test from your healthcare professional.
      ul.section__block-list
        li Use insect repellent during the day and at night.
        li Wear long pants, and shirts with long sleeves.
        li Wear clothes and gear treated with permethrin.
        li Use mosquito netting when sleeping  outdoors or in rooms exposed to the outdoors.
        li Choose accommodations that have screens on all doors and windows.
      p.main-text--bold.section__block-text See Where Outbreaks are Most Common
      a(href="/CHIKUNGUNYA-Countries-V2.pdf" target="_blank").main-button See Country List
      figure.main-figure
        img(src="img/content-image-2.png", alt="")
        figcaption Protecting yourself from mosquitoes will help protect you from contracting chikungunya.

    .section__center
      .section__content
        h3.title-h3.section__content-title Chikungunya by the Numbers
        p.main-text.section__content-text According to the U.S. Centers for Disease Control and Prevention and the World Health Organization, chikungunya is a risk for travelers from the United States.
        ul.section__content-items
          li
            h5.section__content-number <span>35</span> million
            p.main-text <b>U.S. travelers</b> travel to countries affected by chikungunya every year.
          li
            h5.section__content-number <span>2.6</span> million
            p.main-text Suspected <b>chikungunya cases</b> were reported in the Americas between 2013 and 2017.  
          li
            h5.section__content-number <span>4,000+</span>
            p.main-text <b>Chikungunya cases</b> were reported among U.S. travelers between 2014 and 2017.
    
      
      .section__content
        h3.title-h3.section__content-title How is Chikungunya Treated?
        p.main-text.section__content-text While there is no treatment or vaccine, below are some of the ways you can work to reduce the symptoms of chikungunya.
        ul.section__content-items
          li
            img(src="img/aceto-bottle-pd.png", alt="")
            p.main-text Acetaminophen (Tylenol) can help reduce the fever and the pain that comes with a chikungunya infection.
          li
            img(src="img/GettyImages-160330955.png", alt="")
            p.main-text Healthcare professionals recommend that people with chikungunya drink plenty of fluids to prevent dehydration. 
          li
            img(src="img/GettyImages-107429788.png", alt="")
            p.main-text Get lots of rest and let your immune system do its job.
    
    .section__share
      h2.title-h3.section__share-title Plan a Visit to Your Healthcare Professional or a Travel Health Clinic Before Your Trip
      p.main-text Schedule a visit at least 1 month before you go, especially if you have a pre-existing health condition. You will be able to discuss where you will be staying, planned activities, and meals. Your healthcare professional will be able to give you advice on any medications you may need and offer other useful ways to help you prepare for your trip, such as providing details about immunizations you may need, minimizing health risks, and what to do if you become ill while overseas.
      figure.main-figure
        img(src="img/content-image-3.png", alt="")
        figcaption It’s easy to get lost in the cultural beauty of your travels, but don’t forget about mosquito protection.
    