section.section#five
  .section__wrap
    .section__block.section__block--wide
      span.section-number 5
      h2.title-h2 Frequently Asked Questions
      .questions
        .questions__wrap
          .questions__item
            h4.title-h3.questions__title Chikungunya and Other Vector-borne Diseases
            ul
              - for (var x = 0; x < 7; x++)
                li
                  h5 What are vector-borne diseases?
                  p Chikungunya disease can exhibit very similar symptoms to dengue and Zika infections, which are all transmitted by Aedes mosquitoes. Symptoms of all three include fever, muscle pain, joint pain, rash, and headache.<br>Chikungunya disease tends to be associated with severe joint pain, but a true diagnosis can only be done by a blood test.<br>Malaria is transmitted by a different kind of mosquito, the Anopheles mosquito that primarily only bites at night. Rather than a virus, malaria is caused by a parasite. Malaria is associated with fever and chills or “flu-like” symptoms. 
        .questions__wrap
          .questions__item
            h4.title-h3.questions__title Chikungunya Prevention
            ul
              - for (var x = 0; x < 4; x++)
                li
                  h5 Does chikungunya have a vaccine?
                  p Permethrin is a chemical that repels and kills mosquitoes. It often comes pre-applied to clothing, boots, and tents, or it can be purchased to be applied separately. Clothing treated with permethrin provides protection even after multiple washings. Check the label of the permethrin product you use for exact instructions, and to see how long the protection will last. 
          .questions__item
            h4.title-h3.questions__title Travel Preparation
            ul
              - for (var x = 0; x < 5; x++)
                li
                  h5 Where can I go for more information about chikungunya?
                  p Permethrin is a chemical that repels and kills mosquitoes. It often comes pre-applied to clothing, boots, and tents, or it can be purchased to be applied separately. Clothing treated with permethrin provides protection even after multiple washings. Check the label of the permethrin product you use for exact instructions, and to see how long the protection will last.
    
    .section__resources
      h4.section__resources-title Additional Resources
      a(href="#") TravelHealthConnect: TravelResources, Tips & Tools » 
      a(href="#") World Health Organization Chikungunya Fact Sheet »
      a(href="#") World Health Organization Chikungunya Fact Sheet »
      a(href="#") Mayo Clinic Chikungunya Information »
      a(href="#") U.S. CDC Travel Health Notices & Recommendations »
      a(href="#") World Health Organization Vaccine Info. & Requirements »

      figure.main-figure
        img(src="img/content-image-5.png", alt="")
        figcaption A cruise is a great way to relax, but be prepared for mosquitoes once you disembark. 