section.section#five
  .section__wrap
    .section__block.section__block--wide
      span.section-number 5
      h2.title-h2 Frequently Asked Questions
      .questions
        .questions__wrap
          .questions__item
            h4.title-h3.questions__title Chikungunya and Other Vector-borne Diseases
            ul
              li
                h5 What are vector-borne diseases?
                p Vector-borne diseases are illnesses transmitted by arthropods, such as mosquitoes, ticks, and fleas. Chikungunya, dengue, malaria, and Zika are examples of vector-borne diseases carried by mosquitoes.
              li
                h5 What are the symptoms of chikungunya disease?
                p Many people develop symptoms within a few days of infection. Sometimes, the symptoms can last for years. Read more about the symptoms of chikungunya here.
              li
                h5 Are there certain factors that increase my risk of contracting chikungunya disease?
                p The risk is largely related to your exposure to mosquitoes and whether you have prior immunity. Some people, such as infants, older adults, and those with comorbidities (eg. diabetes, hypertension, or heart disease), may have a higher risk.
              li
                h5 What is the difference between the chikungunya disease and other mosquito-borne diseases?
                p Chikungunya disease can exhibit very similar symptoms to dengue and Zika infections, which are all transmitted by Aedes mosquitoes. Symptoms of all three include fever, muscle pain, joint pain, rash, and headache.<br>Chikungunya disease tends to be associated with severe joint pain, but a true diagnosis can only be done by a blood test.<br>Malaria is transmitted by a different kind of mosquito, the Anopheles mosquito that primarily only bites at night. Rather than a virus, malaria is caused by a parasite. Malaria is associated with fever and chills or “flu-like” symptoms.
              li
                h5 There have never been any outbreaks of chikungunya in the country I’m visiting, do I need to be concerned?
                p There is a potential risk of chikungunya in any country where Aedes mosquitoes are present. In fact, areas where the local population has no prior exposure to chikungunya virus are vulnerable to outbreaks. For more information, check the “Additional Resources” section, and/or visit a travel health clinic or healthcare professional.
              li
                h5 If I get chikungunya disease, can I give it to someone else?
                p No, you cannot easily infect someone with chikungunya. It is only transmitted through the bites of infected Aedes mosquitoes. Some cases of mother-to-child transmission have been documented, but it is rare.
              li
                h5 What should I do if I think I may have contracted chikungunya?
                p Contact your healthcare professional for further information. 
              //- - for (var x = 0; x < 7; x++)
              //-   li
              //-     h5 What are vector-borne diseases?
              //-     p Chikungunya disease can exhibit very similar symptoms to dengue and Zika infections, which are all transmitted by Aedes mosquitoes. Symptoms of all three include fever, muscle pain, joint pain, rash, and headache.<br>Chikungunya disease tends to be associated with severe joint pain, but a true diagnosis can only be done by a blood test.<br>Malaria is transmitted by a different kind of mosquito, the Anopheles mosquito that primarily only bites at night. Rather than a virus, malaria is caused by a parasite. Malaria is associated with fever and chills or “flu-like” symptoms. 
        .questions__wrap
          .questions__item
            h4.title-h3.questions__title Chikungunya Prevention
            ul
              li
                h5 Does chikungunya have a vaccine?
                p No. Currently, the best way to protect yourself from chikungunya is to protect yourself from mosquitoes.
              li
                h5 What is permethrin?
                p Permethrin is a chemical that repels and kills mosquitoes. It often comes pre-applied to clothing, boots, and tents, or it can be purchased to be applied separately. Clothing treated with permethrin provides protection even after multiple washings. Check the label of the permethrin product you use for exact instructions, and to see how long the protection will last.
              li
                h5 How effective is DEET at deterring mosquitoes?
                p If applied correctly, DEET works well at keeping mosquitoes at bay. Since Aedes mosquitoes primarily bite during the day, it is important to remember to apply during the daytime and not just in the evening. DEET also needs to be reapplied regularly, especially after swimming. Check the label for more detailed instructions.
              li
                h5 I am going on a cruise. Do I need to worry about chikungunya?
                p Aedes mosquitoes primarily bite during the day, so they may be out when you are on sightseeing excursions. If your cruise ship is moored close to shore, they will likely not be far away.
          .questions__item
            h4.title-h3.questions__title Travel Preparation
            ul
              li
                h5 Where can I go for more information about chikungunya?
                p Please check out the links in our “Additional Resources” section.
              li
                h5 Do I need to see my healthcare professional or visit a travel health clinic if I am just going away for a long weekend?
                p Mosquitoes will bite you when they can—whether you’re away for a month or a day! Your healthcare professional can advise you about any mosquito precautions needed based on your destination and itinerary.
              li
                h5 If there is no chikungunya vaccine, why should I see a healthcare professional?
                p It’s always good practice to visit your healthcare professional or travel health clinic before you go to a tropical destination to make sure you have all appropriate vaccinations, and to get trusted recommendations on other ways to reduce your risk of contracting diseases.
              li
                h5 How long before traveling should I see a healthcare professional?
                p It depends on what vaccines or treatments you need but, generally, it’s a good idea to visit your healthcare professional or travel health clinic at least 3–4 weeks before you travel. 
              li
                h5 How do I find a travel clinic near me?
                p To travel safely, it is important to be prepared before you go. Find a travel health clinic near you below.<br><a href="/">Find a Travel Healthcare Provider</a>

    .section__resources
      h4.section__resources-title Additional Resources
      a(href="#") TravelHealthConnect: TravelResources, Tips & Tools » 
      a(href="#") World Health Organization Chikungunya Fact Sheet »
      a(href="#") World Health Organization Chikungunya Fact Sheet »
      a(href="#") Mayo Clinic Chikungunya Information »
      a(href="#") U.S. CDC Travel Health Notices & Recommendations »
      a(href="#") World Health Organization Vaccine Info. & Requirements »

      figure.main-figure
        img(src="img/content-image-5.png", alt="")
        figcaption A cruise is a great way to relax, but be prepared for mosquitoes once you disembark. 