section.section.section--references#seven
  .section__wrap
    .section__references
      span.section-number.section-info__number 7
      h2.title-h2 References
      ul.references
        li.references__item Álvarez-Argüelles ME, at al. Diagnosis and molecular characterization of chikungunya virus infections. <i>In: Current Topics in Neglected Tropical Diseases. 2019</i>
        li.references__item Breedlove <i>B. Emerg Infect Dis.</i> 2021; 27:676
        li.references__item Centers for Disease Control and Prevention. Chikungunya virus: Clinical evaluation & disease. <a href="https://www.cdc.gov/chikungunya/hc/clinicalevaluation.html">https://www.cdc.gov/chikungunya/hc/clinicalevaluation.html</a>. Accessed September 21, 2021
        li.references__item Centers for Disease Control and Prevention. Chikungunya virus: Geographic distribution. <a href="https://www.cdc.gov/chikungunya/geo/index.html">https://www.cdc.gov/chikungunya/geo/index.html</a>. Accessed September 21, 2021
        li.references__item Centers for Disease Control and Prevention. Chikungunya virus: Prevention. <a href="https://www.cdc.gov/chikungunya/prevention/index.html">https://www.cdc.gov/chikungunya/prevention/index.html</a>. Accessed September 21, 2021
        li.references__item Centers for Disease Control and Prevention. Chikungunya virus: Symptoms, diagnosis, & treatment. <a href="https://www.cdc.gov/chikungunya/symptoms/index.html">https://www.cdc.gov/chikungunya/symptoms/index.html</a>. Accessed March 16, 2021
        li.references__item Centers for Disease Control and Prevention. Travelers' health: Chikungunya. <a href="https://wwwnc.cdc.gov/travel/diseases/chikungunya">https://wwwnc.cdc.gov/travel/diseases/chikungunya</a>. Accessed October 10, 2021
        li.references__item Centers for Disease Control and Prevention. Travelers' health: Travelers' health most frequently asked questions. <a href="https://wwwnc.cdc.gov/travel/page/faq">https://wwwnc.cdc.gov/travel/page/faq</a>. Accessed September 21, 2021
        li.references__item Centers for Disease Control and Prevention. Travelers' health: Your survival guide to safe and healthy travel. <a href="https://wwwnc.cdc.gov/travel/page/survival-guide">https://wwwnc.cdc.gov/travel/page/survival-guide</a>. Accessed March 16, 2021 
        li.references__item Centers for Disease Control and Prevention Yellow Book. Chapter 2: Preparing international travelers. <a href="https://wwwnc.cdc.gov/travel/yellowbook/2020/preparing-international-travelers/the-pretravel-consultation">https://wwwnc.cdc.gov/travel/yellowbook/2020/preparing-international-travelers/the-pretravel-consultation</a>. Accessed September 22, 2021
        li.references__item Centers for Disease Control and Prevention Yellow Book. Chapter 4: Travel-related infectious diseases. <a href="https://wwwnc.cdc.gov/travel/yellowbook/2020/travel-related-infectious-diseases/chikungunya">https://wwwnc.cdc.gov/travel/yellowbook/2020/travel-related-infectious-diseases/chikungunya</a>. Accessed October 10, 2021
        li.references__item Chavasse D. <i>Malawi Med J.</i> 2002;14:7
        li.references__item Curbed. Skyscrapers dripping in gardens look great — until the mosquitoes swarm. <a href="https://archive.curbed.com/2020/9/18/21445069/qiyi-city-forest-garden-mosquitoes-chengdu">https://archive.curbed.com/2020/9/18/21445069/qiyi-city-forest-garden-mosquitoes-chengdu</a>. Accessed September 22, 2021
        li.references__item Daily Mail. The mega mosquito! <a href="https://www.dailymail.co.uk/news/article-7921207/Argentinian-posts-photo-giant-bug-alongside-regular-sized-insect.html">https://www.dailymail.co.uk/news/article-7921207/Argentinian-posts-photo-giant-bug-alongside-regular-sized-insect.html</a>. Accessed 22 September, 2021 
        li.references__item Dambach P, et al. <i>J Med Entomol.</i> 2018;55:1027
        li.references__item Elsinga J, et al. <i>PLoS Negl Trop Dis.</i> 2017;11:e0005987
        li.references__item Emergent BioSolutions. Analyst & Investor Day 2019. <a href="https://investors.emergentbiosolutions.com/static-files/852f0de4-2e46-451b-8d89-5aba64f17810">https://investors.emergentbiosolutions.com/static-files/852f0de4-2e46-451b-8d89-5aba64f17810</a>. Accessed September 28, 2021.
        li.references__item Farombi EO and Owoeye O. <i>Int J Environ Res Public Health.</i> 2011;8:2533
        li.references__item Henry M, et al. <i>Rev Panam Salud Publica.</i> 2017; Aug 21;41:e61
        li.references__item Herodotus. (1996). Herodotus: <i>The Histories.</i> London, Eng.; New York: Penguin Books, by Herodotus (Author), John M. Marincola (Editor, Introduction), Aubrey de Sélincourt (Translator)
        li.references__item Hossain MS, et al. <i>PLoS Negl Trop Dis.</i> 2018;12:e0006561
        li.references__item Ileke KD, et al. <i>Int J Trop Dis</i> 2018. doi.org/10.23937/ijtd-2017/1710018
        li.references__item Insect Week. Mosquitoes and the Panama Canal. 
        li.references__item <a href="https://www.insectweek.co.uk/news/mosquitoes-and-panama-canal">https://www.insectweek.co.uk/news/mosquitoes-and-panama-canal</a>. Accessed September 22, 2021
        li.references__item Katz TM, et al. <i>J Am Acad Dermatol.</i> 2008;58(5):865-871. doi:10.1016/j.jaad.2007.10.005
        li.references__item Leta S, et al <i>Int J Infect Dis.</i> 2018;67:25-35. doi: 10.1016/j.ijid.2017.11.026
        li.references__item Mosquito Magnet. How big can mosquitoes get? <a href="https://www.mosquitomagnet.com/articles/how-big-can-mosquitoes-get">https://www.mosquitomagnet.com/articles/how-big-can-mosquitoes-get</a>. Accessed September 9, 2021 
        li.references__item O'Shaughnessy PT. <i>Am J Public Health.</i> 2008; 98:1940
        li.references__item Paixao ES, et al. <i>Trans R Soc Trap Med Hyg.</i> 2018;112:301
        li.references__item Pan American Health Organization. Fact sheet: Chikungunya. <a href="https://www3.paho.org/hq/index.php?option=com_content&view=article&id=8303:2013-hoja-informativa-chikungunya&Itemid=40023&lang=en">https://www3.paho.org/hq/index.php?option=com_content&view=article&id=8303:2013-hoja-informativa-chikungunya&Itemid=40023&lang=en</a>. Accessed September 22, 2021
        li.references__item PennState News. Mosquitoes, malaria and Asian history. <a href="https://news.psu.edu/story/340729/2015/01/15/research/mosquitoes-malaria-and-asian-history">https://news.psu.edu/story/340729/2015/01/15/research/mosquitoes-malaria-and-asian-history</a>. Accessed September 24, 2021
        li.references__item Perry D. The Moroccan town drenched in blue. <a href="https://www.bbc.com/travel/article/20161007-moroccos-unlikely-all-blue-city">https://www.bbc.com/travel/article/20161007-moroccos-unlikely-all-blue-city</a>. Accessed October 22, 2021
        li.references__item Rose NH, <i>et al. Curr Biol.</i> 2020;30:3570
        li.references__item Schwartz O and Albert ML. <i>Nat Rev Microbiol.</i> 2010;8:491
        li.references__item Science Daily. Mosquitoes that carry malaria may have been doing so 100 million years ago. <a href="https://www.sciencedaily.com/releases/2019/02/190211163959.htm">https://www.sciencedaily.com/releases/2019/02/190211163959.htm</a>. Accessed September 24, 2021
        li.references__item US EPA. DEET <a href="https://www.epa.gov/insect-repellents/deet">https://www.epa.gov/insect-repellents/deet</a> Accessed November 16, 2021
        li.references__item van Aalst M, <i>et al. Travel Med Infect Dis.</i> 2017;15:8
        li.references__item World Health Organization. Fact sheet: Chikungunya. <a href="https://www.who.int/news-room/fact-sheets/detail/chikungunya">https://www.who.int/news-room/fact-sheets/detail/chikungunya</a>. Accessed September 17, 2021
        li.references__item World Health Organization. Facts sheet: Malaria. <a href="https://www.who.int/news-room/fact-sheets/detail/malaria">https://www.who.int/news-room/fact-sheets/detail/malaria</a>. Accessed September 22, 2021 
        li.references__item World Health Organization. Facts sheet: Vector-borne diseases. <a href="https://www.who.int/news-room/fact-sheets/detail/vector-borne-diseases">https://www.who.int/news-room/fact-sheets/detail/vector-borne-diseases</a>. Accessed September 22, 2021
        //- - for (var x = 0; x < 13; x++)
        //-   li.references__item Álvarez-Argüelles ME, at al. Diagnosis and molecular characterization of chikungunya virus infections. In: Current Topics in Neglected Tropical Diseases. 2019
        //-   li.references__item Breedlove B. Emerg Infect Dis. 2021; 27:676
        //-   li.references__item Centers for Disease Control and Prevention. Chikungunya virus: Clinical evaluation & disease. <a href="https://www.cdc.gov/chikungunya/hc/clinicalevaluation.html">https://www.cdc.gov/chikungunya/hc/clinicalevaluation.html</a>. Accessed September 21, 2021