section.section.section--references#seven
  .section__wrap
    .section__references
      span.section-number.section-info__number 7
      h2.title-h2 References
      ul.references
        - for (var x = 0; x < 13; x++)
          li.references__item Álvarez-Argüelles ME, at al. Diagnosis and molecular characterization of chikungunya virus infections. In: Current Topics in Neglected Tropical Diseases. 2019
          li.references__item Breedlove B. Emerg Infect Dis. 2021; 27:676
          li.references__item Centers for Disease Control and Prevention. Chikungunya virus: Clinical evaluation & disease. <a href="https://www.cdc.gov/chikungunya/hc/clinicalevaluation.html">https://www.cdc.gov/chikungunya/hc/clinicalevaluation.html</a>. Accessed September 21, 2021