section#four.section
  .section__wrap
    .section__share
      span.section-number 4
      h2.title-h2.section__share-title SHARE YOUR STORY AND HELP RAISE AWARENESS 
      p.big-text--bold.section__share-big-text Have You Ever Had, or Know Someone Who Has Had Chikungunya? We Want to Hear From You
      p.main-text.section__share-text If you’ve had a case of chikungunya, we want to know. Tell us your story and you may be featured to help encourage others to prepare before they travel. Your story might be what it takes to inspire others to take action and avoid contracting chikungunya.
      a(href="#").main-button.section__share-button SHARE
      figure.main-figure
        img(src="img/content-image-4.png", alt="")
        figcaption While a cool breeze can help keep mosquitoes away, it’s best to be ready for when the breeze subsides.