section#two.section
  .section__wrap
    .section__block
      span.section-number 2
      h2.title-h2.section__block-title What Is Chikungunya?
      p.main-text.section__block-text Chikungunya is a viral disease that is spread by Aedes mosquitoes. Since it was first identified in Tanzania in 1952, it has spread to the tropical regions of the Americas, Africa, and Asia. Its name derives from the African Kimakonde language word “chikungunya”, which means “to become contorted”, and alludes to the painful appearance that those who contract it tend to take. Although deaths from chikungunya are rare, symptoms like severe joint pain and fatigue may be debilitating and last for years. 
      p.main-text--bold.section__block-text All it takes is one bite from an infected mosquito to contract chikungunya
      button.main-button.open-video Watch to Learn More
      figure.main-figure
        img(src="img/content-image-1.png", alt="")
        figcaption See the sights, but stay protected. Aedes mosquitoes bite primarily during the day.
    .section__center
      .section__content
        h3.title-h3.section__content-title Chikungunya: The Basics
        ul.section__content-items
          li
            img(src="img/mosquito build.png", alt="")
            h5.subtitle The Vector
            p.main-text Chikungunya is carried by the Aedes aegypti and Aedes albopictus mosquitoes. 
          li
            img(src="img/DAY n NIGHT build.png", alt="")
            h5.subtitle When They Bite:
            p.main-text Unlike many mosquito species, Aedes primarily bite during the day and are commonly found in urban areas.  
          li
            img(src="img/GettyImages-1251899465 WCed.png", alt="")
            h5.subtitle Who’s at Risk:
            p.main-text Anyone in areas where mosquitoes are common is at risk of contracting chikungunya.
      .section__content
        h3.title-h3.section__content-title Chikungunya Symptoms
        p.main-text Chikungunya disease is not just a short-term illness that may ruin your vacation. Many people develop chronic symptoms that can last for months, or even years. These symptoms can be so severe that they may lead to hospitalization. Up to 85% of individuals infected with chikungunya experience severe acute disease that lasts for up to 2 weeks, and up to 60% experience symptoms lasting as long as 6 years after their initial infection.
        .section__content-columns
          div
            h4.subtitle Short-term Symptoms:
            ul.main-list
              li severe joint pain
              li fever
              li rash
              li fatigue
          div
            h4.subtitle Long-term Symptoms:
            ul.main-list
              li severe joint pain
              li depression
              li fatigue
        a(href="#").main-button.section__content-button More About Long-term Symptoms
    