html {
  // overflow: hidden;
  // scroll-behavior: smooth;
  scrollbar-width: none;
  
  // cursor: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'OpenSans', sans-serif;

  background-image: url(img/map/map-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

main {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

@media (max-width: $main) {
  main {
    flex-direction: column;
  }
}