footer.footer
  .container
    .footer-links
      a(href="/privacy.html").footer-links__link Privacy Policy
      a(href="#six").footer-links__link Contact Us
      a(href="#seven").footer-links__link References
    
    .footer__copy © 2021 Emergent BioSolutions, Inc. All right reserved. PP-TH-US-00085 | November 2021