footer.footer
  .container
    .footer-links
      a(href="/privacy.html" target="_blank").footer-links__link Privacy Policy
      a(href="#six").footer-links__link Contact Us
      a(href="#seven").footer-links__link References
    
    .footer__copy Emergent BioSolutions®, Protected by Emergent BioSolutions®, and any and all Emergent BioSolutions Inc. brands, products, services and feature names, logos and slogans are trademarks or registered trademarks of Emergent BioSolutions Inc. or its subsidiaries in the United States or other countries. PP-TH-US-00085 | January 2022