.intro
  img(src="img/map/map-1.png", alt="").intro__bg
  .intro__wrap(style="font-family: 'Montserrat'")
    h1.title-h1.intro__title Chikungunya
    h2.intro__subtitle A Debilitating Disease From The Bite Of A Mosquito
    p.big-text--bold.intro__bigtext Over millennia, people have adapted their lives and culture to coexist with the mosquito. Besides their pesky bites, mosquitoes can leave behind debilitating and long-lasting illnesses, including malaria, Zika, yellow fever, dengue, and <b>chikungunya</b>.
    p.intro__text Explore the mosquito’s impact on our lives and how to help protect yourself while traveling to areas of the world endemic for mosquito-borne illnesses, including chikungunya.
    button.main-button.intro__button Get Started
  img(src="img/intro-image.png", alt="").intro__image
  img(src="img/virus.png", alt="" data-cof="0.01").intro__virus.intro__virus--one
  img(src="img/virus.png", alt="" data-cof="0.02").intro__virus.intro__virus--two
  img(src="img/virus.png", alt="" data-cof="0.03").intro__virus.intro__virus--three