.intro
  img(src="img/map/map-1.png", alt="").intro__bg
  .intro__wrap
    h1.title-h1.intro__title Chikungunya
    h2.intro__subtitle A Debilitating Disease From The Bite Of A Mosquito
    p.big-text--bold.intro__bigtext Over millennia, people have adapted their lives and culture to coexist with the mosquito. Besides their pesky bites, mosquitoes can leave behind debilitating and long-lasting illnesses, including malaria, Zika, yellow fever, dengue, and <b>chikungunya</b>.
    p.intro__text Explore the mosquito’s impact on our lives and how to help protect yourself while traveling to areas of the world endemic for mosquito-borne illnesses, including chikungunya.
    button.main-button.intro__button Get Started
  .intro__image.active
    //- img(src="img/intro/intro-image.png", alt="").intro__image

    //- img(src="img/intro/intro-jeep.png", alt="").intro__image
    //- img(src="img/intro/1.png", alt="").intro__anim.intro__image-one
    //- img(src="img/intro/2.png", alt="").intro__anim.intro__image-two
    //- //- img(src="img/intro/3.png", alt="").intro__anim.intro__image-three
    //- //- img(src="img/intro/4.png", alt="").intro__anim.intro__image-four
    //- img(src="img/intro/5.png", alt="").intro__anim.intro__image-five
    //- img(src="img/intro/6.png", alt="").intro__anim.intro__image-six
    //- img(src="img/intro/7.png", alt="").intro__anim.intro__image-seven
    //- img(src="img/intro/8.png", alt="").intro__anim.intro__image-eight

    img(src="img/intro/carcass.png", alt="").intro__mosquito
    img(src="img/intro/wing-1.png", alt="").intro__wing-one
    img(src="img/intro/wing-2.png", alt="").intro__wing-two
    img(src="img/intro/paws-1.png", alt="").intro__paws-one
    img(src="img/intro/paws-2.png", alt="").intro__paws-two
    img(src="img/intro/tendril-1.png", alt="").intro__tendril-one
    img(src="img/intro/tendril-2.png", alt="").intro__tendril-two
  img(src="img/virus.png", alt="" data-cof="0.01").intro__virus.intro__virus--one
  img(src="img/virus.png", alt="" data-cof="0.02").intro__virus.intro__virus--two
  img(src="img/virus.png", alt="" data-cof="0.03").intro__virus.intro__virus--three