.preloader
  img(src="img/preloader-mosquito.png", alt="").preloader__mosquito
  img(src="img/preloader-circle.png", alt="").preloader__circle
  img(src="img/virus.png", alt="" data-cof="0.01").preloader__virus.preloader__virus--one
  img(src="img/virus.png", alt="" data-cof="0.02").preloader__virus.preloader__virus--two
  img(src="img/virus.png", alt="" data-cof="0.03").preloader__virus.preloader__virus--three
  img(src="img/virus.png", alt="" data-cof="0.03").preloader__virus.preloader__virus--four
  img(src="img/virus.png", alt="" data-cof="0.03").preloader__virus.preloader__virus--five