- const prod = true

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Learn about chikungunya – what causes it and how to protect yourself.
    meta(name="description", content="Traveling to the tropics? Learn about mosquitoes and the chikungunya virus.")

    //- OG
    meta(property="og:title" content="Learn about chikungunya – what causes it and how to protect yourself.")
    meta(property="og:url" content="https://staging.chikungunya.com/")
    meta(property="og:description" content="Traveling to the tropics? Learn about mosquitoes and the chikungunya virus.")
    meta(property="og:image" content="img/og-image.png")

    //- Favicon
    link(rel='apple-touch-icon' sizes='180x180' href='apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='favicon-16x16.png')

    //- Fonts
    link(rel="preload" href="fonts/Montserrat/Montserrat-Regular.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/Montserrat/Montserrat-Bold.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous")
    link(rel="stylesheet", href="main.css")

  body
    if prod
      include ./components/intro
    if prod
      include ./components/preloader
    include ./components/navigation

    main.main-content
      include ./maps/america
      include ./sections/whatis
      include ./maps/africa
      include ./sections/protected
      include ./maps/pacific
      include ./sections/share
      include ./maps/australia
      include ./sections/questions
      include ./sections/contact-us
      include ./sections/references
    
    //- Popups
    include ./popups/information
    include ./popups/card
    include ./popups/mosquito
    include ./popups/form
    include ./popups/thank-you
    include ./popups/video
    include ./popups/question

    //- if prod
      //- include ./components/cursor

    include ./components/footer

    script(src="main.min.js")
    script(type='text/javascript' src='https://www.bugherd.com/sidebarv2.js?apikey=3wpdbxmp1alj491r0qpkzg' async='true')