- const prod = true

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    //- link(rel='preload' as='font' type='font/woff2' href='/fonts/Montserrat/Montserrat-Bold.woff2' crossorigin='')
    link(rel='preload' as='font' type='font/woff2' href='/fonts/Montserrat/Montserrat-Regular.woff2')
    link(rel="stylesheet", href="main.css")

  body
    if prod
      include ./components/intro
    if prod
      include ./components/preloader
    include ./components/navigation

    //- embed(src='img/CHIKUNGUNYA-Countries-V2.pdf' frameborder='0' scrolling='auto' height='100%' width='100%')
    //- iframe(src='img/CHIKUNGUNYA-Countries-V2.pdf' frameborder='0' scrolling='auto' height='100%' width='100%')

    

    main.main-content
      include ./maps/america
      include ./sections/whatis
      include ./maps/africa
      include ./sections/protected
      include ./maps/pacific
      include ./sections/share
      include ./maps/australia
      include ./sections/questions
      include ./sections/contact-us
      include ./sections/references
    
    //- Popups
    include ./popups/information
    include ./popups/card
    include ./popups/form
    include ./popups/thank-you
    include ./popups/video
    include ./popups/question

    //- if prod
      //- include ./components/cursor

    include ./components/footer

    script(src="main.min.js")
    script(type='text/javascript' src='https://www.bugherd.com/sidebarv2.js?apikey=3wpdbxmp1alj491r0qpkzg' async='true')