doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="privacy.css")
  body
    include ./components/navigation

    .privacy-header

    .privacy
      h1.privacy__title Emergent Travel Health Privacy Policy
      h2.privacy__subhead Emergent Travel Health Inc. (together with its affiliates, “Emergent Travel Health”) protects the privacy of personally identifiable information that you may provide to us.

      h3.privacy__subtitle Purpose
      p.privacy__text This Privacy Policy explains what Emergent Travel Health does with personally identifiable information that you provide to us, such as your name, mailing or email address, age or information relating to your medical condition. It also describes how your personally identifiable information will be protected, who we may share it with and for what purposes. This Policy does not apply to information that is provided offline and it only applies to users in the United States where our activities occur.

      h3.privacy__subtitle Registration
      p.privacy__text Some but not all of our services require registration. This allows us to send you information, provide services to you or contact you about Emergent Travel Health products and services. If you decline to register or to provide all information requested by us, it may not be possible for you to gain access to certain parts of our site or for you to receive all materials, information or services.   current.

      h3.privacy__subtitle Collection of Anonymous Computer Information
      p.privacy__text When you visit our websites, we do not collect any personally identifiable information about you without your permission. However, we do collect anonymous information about you using techniques such as cookies, internet (or action) tags and Graphics Interchange Format (GIFs). This type of anonymous information allows us to evaluate interest in our websites and perform other market research activities, such as surveying browsing habits on our websites. It also allows us to monitor traffic to our websites.

      h3.privacy__subtitle Consent to Provide Your Information to Emergent Travel Health
      p.privacy__text We request your consent to collect your personally identifiable information when you seek to register for a Emergent Travel Health program or service. In making a request for program or service, we also explain what you are registering to receive and how we plan to use your information. We also offer you the option of discontinuing your consent (“opting out” or “unsubscribing”) if you later decide that you no longer want to participate in that program or receive that service. If we wish to use this information for purposes incompatible from those for which it was initially collected, we will offer a way to opt out of this other use.

      h3.privacy__subtitle Sharing Your Information With Third-Parties
      p.privacy__text Except as specified in this Privacy Policy, Emergent Travel Health will not share your personally identifiable information with unaffiliated third-parties who are not our business partners for their own separate use unless we have obtained your consent to do so. When you provide personally identifiable information to Emergent Travel Health, it will be accessible to some of our business partners and may be used by those business partners to send commercial email messages to you. Your personally identifiable information may also be shared with third party vendors or service providers who assist us in improving and providing our services. Emergent Travel Health requires business partners and other third-parties to whom we disclose personally identifiable information to protect the information in accordance with applicable law and regulations and not to use it for any use not authorized by us. There may also be instances where Emergent Travel Health may be required to share your personally identifiable information with third-parties who are not our business partners and who have not been retained by us, such as health authorities to report possible adverse drug experiences, during inspections or audits, or pursuant to order of courts or other governmental agencies. Many entities receiving personally identifiable information under these conditions have privacy requirements that apply to their handling of your personally identifiable information. In addition, where you register for and/or participate in one of our text message programs, we may share and combine your telephone number and other personally identifiable information with demographic and other information from third-party service providers in order to improve our services and provide you with information and products that are of interest to you.

      h3.privacy__subtitle Sharing Your Information Within the Emergent Travel Health Group of Companies
      p.privacy__text The information that you provide to Emergent Travel Health may sometimes be shared among Emergent Travel Health affiliates. This may mean that your personally identifiable information may be transferred outside of the US to Emergent Travel Health affiliates in other countries. All Emergent Travel Health companies that may receive your personally identifiable information will abide by this Privacy Policy and applicable law and regulations.

      h3.privacy__subtitle Security of Your Information
      p.privacy__text We use appropriate safeguards to protect your personally identifiable information from loss, misuse or alteration. Of course, we cannot guarantee the absolute security of your personally identifiable information. We encourage you to be mindful that internet transmissions are not always secure or error-free and to guard your own computer and password against unauthorized access by others.

      h3.privacy__subtitle Links to Other Sites
      p.privacy__text This Privacy Policy applies only to this website and not to third party websites. We may provide links to other websites which we believe may be of interest to our visitors but which are not under our control. We cannot guarantee the privacy standards of websites to which we link or be responsible for the contents of websites other than this website. This Privacy Policy does not apply to any linked, non-Emergent Travel Health website.

      h3.privacy__subtitle Transfer of Your Information
      p.privacy__text When Emergent Travel Health transfers personally identifiable information to countries other than the country where the information was provided, we do so in compliance with applicable privacy laws and regulations. We attempt to protect personally identifiable information entrusted to us no matter what country it is stored in or transferred to and to have appropriate procedures in place to help ensure the security of your personally identifiable information.

      h3.privacy__subtitle Protection of Children
      p.privacy__text Emergent Travel Health will not knowingly collect, use or disclose personally identifiable information from a minor under the age of 13, without obtaining prior consent from a parent or guardian. Emergent Travel Health abides by the Children’s Online Privacy Protection Act (COPPA) in the United States, and respects similar laws and regulations of other countries that protect the privacy of children. Should a child whom we know to be under 13 provide personally identifiable information to us, we will use that information only to respond directly to that child to inform him or her that we must have parental or guardian consent before receiving information about him or her.

      h3.privacy__subtitle Accountability
      p.privacy__text Our privacy practices are periodically reviewed to verify compliance with this Privacy Policy.

      h3.privacy__subtitle Updating and Accessing Your Information
      p.privacy__text We encourage you to regularly update the personally identifiable information that you provide to us, such as a new mailing or email address, so that we may most efficiently and accurately provide information or services to you. In addition, Emergent Travel Health complies with laws and regulations applicable to the right to amend your information in our files. All requests to update or access your information will be subject to verification of the identity of the requesting individual so that we may protect your personally identifiable information from unauthorized access or alteration by third parties. To review and request changes to any of your personally identifiable information, please contact our Chief Compliance Officer at the address or email address provided below.

      h3.privacy__subtitle Updated Privacy Policy
      p.privacy__text This Privacy Policy is effective as of July, 2019. Emergent Travel Health may update this Privacy Policy from time to time. Notice of material changes to the Privacy Policy will be prominently posted on our website.

      h3.privacy__subtitle “Do Not Track” Signals
      p.privacy__text Some internet browsers include the ability to transmit “Do Not Track” signals. We do not honor such “Do Not Track” signals.

      h3.privacy__subtitle Third Party Collection
      p.privacy__text Third parties are allowed to collect personally identifiable information about your online activities over time and across different sites when you use our services.

      h3.privacy__subtitle Your Rights and Choices
      p.privacy__text We encourage you to regularly update the personal information that you provide to us, such as a new mailing or email address, so that we may most efficiently and accurately provide information or services to you. In addition, depending on where you live, you may be able to request access, correction, deletion, transfer, or objection to further processing of your personal information. Once we receive your request, it will be subject to verification of the identity of the requesting individual so that we may protect your personal information from unauthorized access or alteration by third parties. If you would like to use an authorized agent registered with the California Secretary of State to exercise your rights, we may request evidence that you have provided such agent with power of attorney or that the agent otherwise has valid written authority to exercise rights on your behalf. To submit a request with respect to your personal information, please contact our Chief Compliance Officer at the address or email address provided below or use the form provided below. California residents can also submit requests by calling 855-894-4986.

      h3.privacy__subtitle How to Contact Us
      p.privacy__text If you have any questions about our Privacy Policy, please email or write to us at:
      p.privacy__text Legal Department<br>Emergent Travel Health Inc.<br>555 Twin Dolphin Drive, Suite 360<br>Redwood City, CA 94065<br>Email: privacy@ebsi.com

      form.privacy-form
        h4.privacy-form__title PERSONAL INFORMATION REQUEST FORM
        p.privacy-form__text Please fill out this form if you wish to exercise your right to access, rectify, delete, transfer, or object to further processing of the personal information we may have about you.

        p.privacy-form__required *Required field
        
        label.main-input
          h4 First Name*
          input(type="text" placeholder="First Name")
          span Please enter valid first name.
        label.main-input
          h4 Last Name*
          input(type="text" placeholder="Last Name")
          span Please enter valid last name.
        label.main-input
          h4 E-mail*
          input(type="text" placeholder="E-mail")
          span Please enter valid e-mail address.
        label.main-input
          h4 Phone*
          input(type="text" placeholder="Phone")
          span Please enter valid phone number.
        label.main-textarea
          h4 Your Request*
          textarea(cols="10" placeholder="Details of your request")
          span Please enter information.
        
        h4.privacy-form__subtitle ABOUT YOUR PERSONAL INFORMATION
        p.privacy-form__text The information you provide here will be processed solely for the purpose of verifying your identity and residency, identifying the information you're requesting, and answering your request. Your data (including the data associated with this form) will be removed once your request has been answered.
        h4.privacy-form__subtitle HOW WE WILL PROCESS YOUR REQUEST
        p.privacy-form__text We will answer your request, or request additional information from you within 30 days. We may extend this process for up to two months, in which case we will notify you of the extension within a month. The processing of this request is free of charge, but we reserve the right, as allowed under applicable law, to charge an administrative fee under certain circumstances.
        p.privacy-form__text If you would prefer to submit your request via email, please email us at: <a href="#">privacy@ebsi.com</a>

        button(type="submit").main-button.privacy-form__btn Submit
    
    .privacy-note
      p <b>This Site Does Not Provide Medical Advice.</b> The content is intended for informational purposes only and should not be used to replace a discussion with a healthcare or travel health professional. Always seek the advice of your doctor with any questions you may have about your health. The content on this site has been created for U.S. residents only.

    .privacy-footer
      p Emergent BioSolutions® and any and all Emergent BioSolutions Inc. brands, products, services and feature names, logos, and slogans are trademarks or registered trademarks of Emergent BioSolutions Inc. or its subsidiaries in the United States or other countries. All other brands, products, services and feature names or trademarks are the property of their respective owners.<br>© 2021 Emergent BioSolutions, Inc. All rights reserved.  PP-TH-US-00085 | October 2021
    
    include ./popups/thank-you
    
    script(src="main.min.js") 