.popup.popup-card
  .popup__wrap.popup-card__wrap
    h3.title-h5.popup-card__title
    img(src="img/card/america-1.png", alt="").popup-card__img
    p.main-text.popup-card__description The mosquito repellent DEET was originally developed for the U.S. Army for use in the more insect-infested areas of the world. DEET works by simply blocking certain chemical receptors in the mosquito’s antennae, making it harder for them to “smell” humans.
    .popup__close.popup-card__close