.popup.popup-form
  .popup__wrap.popup-form__wrap
    h3.title-h3.popup-form__title Share Yout Story
    form.main-form.popup-form__form
      label.main-form__input
        h4 First Name
        input(type="text" placeholder="First Name")
        span.main-form__error  Please enter valid first name.
      label.main-form__input
        h4 Last Name
        input(type="text" placeholder="Last Name")
        span.main-form__error  Please enter valid last name.
      label.main-form__input
        h4 E-mail
        input(type="text" placeholder="E-mail")
        span.main-form__error Please enter valid e-mail address.
      label.main-form__textarea
        h4 Your Story
        textarea(type="text" placeholder="Enter your story here")
        span.main-form__error Please enter valid e-mail address.
      label.main-form__checkbox
        input(type="checkbox", name="two")
        span
        span I confirm that I am a US resident, and understand the content has been created for US residents only. 
      label.main-form__checkbox
        input(type="checkbox", name="three")
        span
        span I have read and agree to the <a href="#">Privacy Policy</a>.
      button(type="submit").main-button.main-form__button Submit