.popup.popup-information
  .popup__wrap.popup-information__wrap
    h3.title-h3.popup-information__title More About Long-term Symptoms
    p.main-text Additional long-term symptoms include arthritis, swelling of tendons, skin disorders like alopecia, and mood and sleep disorders.
    p.main-text Long-term symptoms often lead to reduced quality of life and considerable loss of work productivity.
    figure.main-figure.popup-information__figure
      img(src="img/content-image-6.png", alt="")
      figcaption Chronic chikungunya arthritis is one of the long-term symptoms that may last for years post-infection.
    .popup__close.popup-information__close