.popup.popup-mosquito
  .popup__wrap.popup-mosquito__wrap
    h3.title-h5.popup-mosquito__title MOSQUITO
    img(src="img/card/america-4.png", alt="").popup-mosquito__img
    p.main-text.popup-mosquito__description Mosquitoes can act as vectors for many disease-causing viruses and parasites. Infected mosquitoes carry these organisms from person to person without exhibiting symptoms themselves.
    ul.popup-mosquito__list
      li <b>Class</b>: Insecta 
      li <b>Order</b>: Diptera 
      li <b>Phylum</b>: Arthropoda
      li <b>Family</b>: Culicidae; Meigen, 1818
      li <b>Kingdom</b>: Animalia
    .popup__close.popup-mosquito__close