.popup.popup-thank
  .popup-thank__wrap
    h4.title-h2.popup-thank__title Thank You
    p.main-text--bold.popup-thank__text Your form has been submitted.
    button.main-button.popup-thank__button.popup__close Close