@use "sass:math";

.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;

  padding: 50px 15px 100px;

  text-align: center;
  background-color: #EAE2CE;
  transition: 0.6s opacity ease;

  // animation: diskoteka 0.25s ease infinite;

  @media (max-width: $main) {
    display: flex;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    user-select: none;
    // opacity: 0.6;
  }

  &__wrap {
    position: relative;
    z-index: 1;

    max-width: 500px;
    width: 100%;
  }

  &__title {
    margin-bottom: 4px;

    @include text-shadow(3px, 2px, #EAE2CE);
  }

  &__subtitle {
    max-width: 80%;
    margin: 0 auto 23px;

    color: $secondary;
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    @include text-shadow(3px, 2px, #EAE2CE);
  }

  &__bigtext {
    margin-bottom: 38px;

    color: $secondary;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    @include text-shadow(3px, 2px, #EAE2CE);
  }

  &__text {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    @include text-shadow(3px, 2px, #EAE2CE);
  }

  &__button {
    margin-top: 22px;
  }

  &__anim {
    animation: intro-anim 3s infinite;
    transform-origin: center;
    pointer-events: auto;
  }

  &__image {
    position: relative;
    z-index: 1;

    max-width: 600px;

    // pointer-events: none;
    &.active,
    &:hover {
      animation: mosquito 5s infinite;
    }
    // animation-delay: -3s;

    @media (max-width: $main) {
      display: none;
    }

    &-one,
    &-two,
    &-three,
    &-four,
    &-five,
    &-six,
    &-seven,
    &-eight {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%,-50%);

      z-index: 2;
    }

    &-two {
      animation-name: intro-anim-negative;
      animation-delay: -1s;
    }
    &-three {
      animation-delay: -2s;
    }
    &-four {
      animation-name: intro-anim-negative;
      animation-delay: -3s;
    }
    &-five {
      animation-delay: -4s;
    }
    &-six {
      animation-name: intro-anim-negative;
      animation-delay: -1.5s;
    }
    &-seven {
      animation-delay: -2.5s;
    }
    &-eight {
      animation-name: intro-anim-negative;
      animation-delay: -3.5s;
    }
  }

  &__virus {
    position: absolute;
    top: 0;
    left: 0;
    // transform: translate(-50%, -50%);
    z-index: 0;

    width: 17vw;

    opacity: 0.5;

    pointer-events: none;

    animation: intro-virus-one 100s ease-in-out infinite;

    @media (max-width: $main) {
      width: 110px;
    }

    &--one {
      opacity: 0.8;
      // opacity: 1;
      // animation: none;
      // top: 250px;
      // left: 370px;
    }

    &--two {
      width: 12vw;
      top: 55%;
      left: 10%;

      animation-name: intro-virus-two;
      animation-delay: 0.5s;

      @media (max-width: $main) {
        width: 115px;
        top: 75%;
      }
    }

    &--three {
      width: 9vw;
      top: 70%;
      left: 65%;
      opacity: 0.63;

      animation-name: intro-virus-three;
      animation-delay: 1s;

      @media (max-width: $main) {
        width: 90px;
        top: 75%;
      }
    }
  }

  &__mosquito {
    position: relative;
    z-index: 1;
  }

  &__wing-one {
    position: absolute;
    z-index: 2;
    top: 39%;
    left: 93%;

    transform: translate(-50%, -50%);
    transform-origin: left top;
    // animation: wings 0.2s infinite;
  }
  &__image.active &__wing-one,
  &__image:hover &__wing-one {
    animation: wings 0.2s infinite;
  }

  &__wing-two {
    position: absolute;
    top: 29%;
    left: 91%;

    transform: translate(-50%, -50%);
    transform-origin: left top;
    // animation: wings 0.2s infinite;
    animation-delay: 0.1s;
  }

  &__image.active &__wing-two,
  &__image:hover &__wing-two {
    animation: wings 0.2s infinite;
  }

  &__paws-one {
    position: absolute;
    z-index: 2;
    top: 68%;
    left: 66%;

    transform: translate(-50%, -50%);
    transform-origin: 30% 30%;
    // animation: paws 5s infinite;
  }

  &__image.active &__paws-one,
  &__image:hover &__paws-one {
    animation: paws 5s infinite;
  }

  &__paws-two {
    position: absolute;
    z-index: 0;
    top: 32%;
    left: 73%;

    transform: translate(-50%, -50%);
    animation-delay: 0.2s;
    transform-origin: 30% 30%;
    // animation: paws 5s infinite;
  }

  &__image.active &__paws-two,
  &__image:hover &__paws-two {
    animation: paws 5s infinite;
  }

  &__tendril-one {
    position: absolute;
    z-index: 1;
    top: 22%;
    left: 33%;

    transform: translate(-50%, -50%);
    transform-origin: 80% 70%;
    // animation: tendril 5s infinite;
  }

  &__image.active &__tendril-one,
  &__image:hover &__tendril-one {
    animation: tendril 5s infinite;
  }

  &__tendril-two {
    position: absolute;
    z-index: 0;
    top: 1%;
    left: 33%;

    transform: translate(-50%, -50%);
    transform-origin: 90% 100%;
    // animation: tendril 5s infinite;
  }

  &__image.active &__tendril-two,
  &__image:hover &__tendril-two {
    animation: tendril 5s infinite;
  }
}

@keyframes wings {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -50%) rotate(110deg) scaleX(-0.6);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes mosquito {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

@keyframes paws {
  0% {
    transform: translate(-50%, -50%) rotate(-6deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(6deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-6deg);
  }
}

@keyframes tendril {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -50%) rotate(10deg);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes intro-virus-one {
  @include virus-anim(0.05, 0.05, 0.1);
}

@keyframes intro-virus-two {
  @include virus-anim(0.1, 0.8, 0.1);
}

@keyframes intro-virus-three {
  @include virus-anim(0.8, 0.7, 0.1);
}

@keyframes intro-anim {
  $count: 180;
  $distance: 100;

  @for $i from 0 to $count {
    $eangleDeg: math.div(360, $count) * $i;
    $eangleRad: math.div($eangleDeg * math.$pi, 180);
    $distanceX: $distance * math.cos($eangleRad + $eangleRad);
    $distanceY: $distance * math.sin($eangleRad);

    #{math.div(100, $count) * $i}% {
      transform: translate(calc(-50% + #{decimal-round($distanceX, 2)}px), calc(-50% + #{decimal-round($distanceY, 2)}px)) scale(decimal-round((1 + math.cos($eangleRad) * 0.25), 2)) rotate(#{$i * 2}+deg);
    }
  }
  100% {
    transform: translate(calc(-50% + #{$distance}px), calc(-50% + 0px)) scale(1.25)  rotate(360deg);
  }
}

@keyframes intro-anim-negative {
  $count: 180;
  $distance: 100;

  @for $i from 0 to $count {
    $eangleDeg: math.div(360, $count) * $i;
    $eangleRad: math.div($eangleDeg * math.$pi, 180);
    $distanceX: $distance * math.cos($eangleRad + $eangleRad);
    $distanceY: $distance * math.sin($eangleRad);

    #{math.div(100, $count) * $i}% {
      transform: translate(calc(-50% + #{decimal-round($distanceX, 2)}px), calc(-50% + #{decimal-round($distanceY, 2)}px)) scale(decimal-round((1 + math.cos($eangleRad) * 0.25), 2)) rotate(-#{$i * 2}+deg) ;
    }
  }
  100% {
    transform: translate(calc(-50% + #{$distance}px), calc(-50% + 0px)) scale(1.25)  rotate(-360deg);
  }
}

@keyframes diskoteka {
  0% {
    background: $white;
  }
  50% {
    background-color: rgba(0, 0, 0, 0.3);
  }
  100% {
    background: $white;
  }
}