.popup-video {
  // display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  padding: 80px 60px;

  background-color: rgba(53, 53, 53, 0.8);

  @media (max-width: $main) {
    padding: 40px;
  }

  @media (max-width: $mobile) {
    padding: 30px 20px;
  }

  &__close {
    background-color: transparent;

    &::after,
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);

      display: block;

      width: 25px;
      height: 2px;
      background-color: #ccc;
      content: '';
    }

    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}